.cta {
    color          : $color-pink;
    text-decoration: underline;

    &:hover {
        color: $color-white;
    }
}

.btn,
.button,
[type="submit"] {
    padding    : 1em 2em;
    background : $color-pink;
    font-family: $font-heading;
    color      : $color-white;
    text-align : center;
    border     : none;
    cursor     : pointer;

    &:hover {
        text-decoration: underline;
    }
}