.site {
    &__section {
        width     : 45rem;
        max-width : 90%;
        text-align: center;
    }

    &__main {
        position       : relative;
        width          : 100%;
        height         : 92vh;
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;
    }

    &__topbar {
        position        : fixed;
        top             : 0;
        left            : 0;
        width           : 100%;
        text-align      : center;
        padding         : 0.5em 0;
        background-color: $color-black;
        color           : $color-white;
    }
}