.site {
    &__section {
        width     : 45rem;
        max-width : 90%;
        text-align: center;
    }

    &__main {
        position       : relative;
        width          : 100%;
        height         : 100vh;
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;
    }

    &__topbar {
        position        : fixed;
        top             : 0;
        left            : 0;
        width           : 100%;
        text-align      : center;
        padding         : 0.5em 0;
        background-color: $color-black;
        color           : $color-white;
    }

    &__social {
        display        : flex;
        justify-content: center;
        align-items    : center;
        margin-top     : 2em;

        a {
            display        : inline-block;
            padding-left   : 1em;
            text-decoration: none;
            border         : none;
        }

        svg {
            width : 30px;
            height: 30px;
        }
    }
}